body {
    background-color: #2A34E2;
    
}

/* NAV */

nav {
    background-color: #2A34E2;
   
  }
  
  .logo {
    float: left;
    vertical-align: middle;
    font-size: 35px;
    padding: 25px;
    padding-top: 20px;
    padding-left: 25px;
    margin-left: 80px;
  }
  
  nav ol {
    display: inline;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    cursor: pointer;
    padding: 30px;
    float: right; 
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding-top: 26px;
    padding-right: 10px;
    margin-right: 80px;
    font-size: 20px;
  }
  
  nav li a {
    padding: 15px;
    color: white;
  }


/* CONTACT */
  
  input {
    display: block;
    font-family: 'Work Sans', sans-serif;
    color: white;
    
  }
  
  input[type=email] {
      border-style: solid;
      border-color: white;
      background: transparent;
      font-size: 20px;
      margin: 25px;
      width:calc(90% - 50px);
      height:50px;
      text-indent: 6px;
      margin-left: 80px;
  }
  
  
  input[type=text] {
    margin-bottom: 20px;
    border-style: solid;
    border-color: white;
    background: transparent;
    font-size: 20px;
    margin: 25px;
     width:calc(90% - 50px);
    height:250px;
    text-indent: 6px;
    top: 40px;
    margin-left: 80px;
  }
  
  input[type=submit] {
    padding-bottom: 2rem;
  }
  
  input[type=submit] {
    color: white;
    background-color: white;
    border: 2px solid white;
    font-family: 'Work Sans', sans-serif;
    color: #2A34E2;
    padding: 2px;
    width:calc(30% - 10px);
    height:50px;
    text-align: center;
    margin: 25px;
    font-size: 15px;
    margin-left: 80px;
    margin-bottom: 5%;
  }
  
  input[type=submit]:hover {opacity: 1}
  
  ::placeholder {
      color: white;
      right: 10px;
  }
  
  .formtitle > h2 {
    margin-top: 5%;
    margin-left: 25px;
    font-size: 60px;
    color: white;
    font-family: 'Crimson Text', serif;
    margin-left: 80px;
  }
  
  div.formtitle p {
    margin: 25px;
    font-size: 19px;
    line-height: 25px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin-left: 80px;
  }   
/* FOOTER */

footer {
  background-color: white;
  border: none;
  margin-top: 50px;
}

footer p {
  float: left;
  margin-top: 0px;
  margin: 0;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

footer ol {
  list-style: none;
}

footer li {
  display: inline-block;
  cursor: pointer;
  float: right; 

}

footer ol li img {
  padding-top: 0px;
  padding-bottom: 0px;
  padding: 10px;
}


@media screen and (max-width: 700px) {

  nav {
    background-color: #2A34E2;
   
  }
  
  .logo {
    float: left;
    vertical-align: middle;
    font-size: 35px;
    padding-top: 20px;
    padding-left: 25px;
    margin-left: 2%;
  }
  
  nav ol {
    display: inline;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    cursor: pointer;
    padding: 30px;
    float: right; 
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 2%;
  }
  
  nav li a {
    padding: 15px;
    color: white;
  }


/* CONTACT */

input {
  display: block;
  font-family: 'Work Sans', sans-serif;
  color: white;
  
}

input[type=email] {
    border-style: solid;
    border-color: white;
    background: transparent;
    font-size: 20px;
    margin: 25px;
    width:calc(100% - 50px);
    height:50px;
    text-indent: 6px;
   
}


input[type=text] {
  margin-bottom: 20px;
  border-style: solid;
  border-color: white;
  background: transparent;
  font-size: 20px;
  margin: 25px;
  width:calc(100% - 50px);
  height:250px;
  text-indent: 6px;
  top: 40px;
}

input[type=submit] {
  padding-bottom: 2rem;
}

input[type=submit] {
  color: white;
  background-color: white;
  border: 2px solid white;
  font-family: 'Work Sans', sans-serif;
  color: #2A34E2;
  padding: 2px;
  width:calc(30% - 10px);
  height:50px;
  text-align: center;
  margin: 25px;
  font-size: 15px;
}

input[type=submit]:hover {opacity: 1}

::placeholder {
    color: white;
    right: 10px;
}

.formtitle > h2 {
  margin-top: 12%;
  margin-left: 25px;
  font-size: 60px;
  color: white;
  font-family: 'Crimson Text', serif;
}

div.formtitle p {
  margin: 25px;
  font-size: 19px;
  line-height: 25px;
  color: white;
  font-family: 'Work Sans', sans-serif;
}   

/* FOOTER */

footer {
    background-color: white;
    border: none;
  }
  
  footer p {
    float: left;
    margin-top: 0px;
    margin: 0;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    color: white;
  }
  
  footer ol {
    list-style: none;
  }
  
  footer li {
    display: inline-block;
    cursor: pointer;
    float: right; 
  
  }
  
  footer ol li img {
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 10px;
  }

}