html,
body {
  padding: 0;
  margin: 0;
  color: #04133E;
  background: #EED7C8;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Malaka-Regular', serif;
}

a:visited, a {
  color:inherit;
 }

@font-face {
  font-family: Malaka-Regular;
}

a.back-btn {
  font-family: sans-serif;
  font-size: 2vh;
  cursor: pointer;
}

.b-container {
  text-transform: uppercase;
  padding: 3vh 0;
}

.b-margin {
  width: 100%;
  max-width: calc(97.5vw - 24px);
  margin: 0 auto;
  padding: 1vh 0;
}

.contact {
  text-align: right;
  right: 0;
}

.freelance {
  left: 0;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  background: #ED2;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.homepage {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.homepage-content {
  height: 100vh;
}

.hp-headline {
  margin: 2vw;
  overflow: hidden;
}

.hp-headline h1 {
  font-size: 11vh;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-weight: 100;
  line-height: 1;
}

.hp-headline p {
  font-size: 2vh;
  padding: 0 2vw;
  text-transform: uppercase;
  position: absolute;
  width: 95%;
  bottom: 0;
}

img, video {
  max-width: 100%;
}

.italic {
  font-style: italic;
}

.item {
  display:none;
}

.landscape {
  display: none;
}

.modal {
  position:fixed;
  overflow: scroll;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:999;
}

.modal__wrapper {
  box-shadow: 0 1.75vh 2vh 0 rgba(32,33,34,.4);
  position: relative;
  background: #EED7C8;
  margin: 0 auto;
  padding: 40px;
  z-index: 2;
}

.modal img {
  max-width:100%;
}

.modal__bg {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0, .85);
  z-index:1;
}

/* Animation */

/* Container */

.modal {
    display:none;
}

/* Modal background */

.modal-is-showing 
.modal__bg {
  opacity:1;
  transition:opacity .25s ease-out;
}

.modal-is-closed 
.modal__bg {
  opacity:0;
}

/* Modal content */

.modal-is-showing 
.modal__wrapper {
  transform: translate3d(0, 0, 0);
  animation: modal-slide-up .25s ease-out;
}

.modal-is-closed 
.modal__wrapper {
  transform: translate3d(0, 61.8%, 0);
  animation: modal-slide-down .25s ease-out;
  opacity:0;
}

@keyframes modal-slide-down {
  0%   { transform: translate3d(0, 0%, 0); opacity:1; }
  100% { transform: translate3d(0, 61.8%, 0); opacity:0; }
}

@keyframes modal-slide-up {
  0%   { transform: translate3d(0, 61.8%, 0); opacity:0;  }
  100% { transform: translate3d(0, 0, 0); opacity:1;  }
}

/* Blur page */

.modal-is-showing 
.content {
  filter: blur(8px);
  animation: content-blur-in .25s ease-out;
}

.modal-is-closed 
.content {
  animation: content-blur-out .25s ease-out;
}

@keyframes content-blur-in {
  0%   { filter: blur(0px); }
  100% { filter: blur(8px); }
}

@keyframes content-blur-out {
  0%   { filter: blur(8px); }
  100% { filter: blur(0px); }
}

.p-container {
  margin: 5vh 1vw;
  font-size: 3vh;
}

.p-description {
  text-indent: 10vw;
}

.project {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  bottom: -100%;
  overflow: auto;
  z-index: 999;
  transition: bottom 0.5s ease-in;
}

.project p {
  font-size: 3vh;
  margin: 5px;
  margin: 0;
}

.project.open {
  bottom: 0%;
}

.project-inner {
  background: #fff;
  box-shadow: 0 1.75vh 2vh 0 rgba(32,33,34,.4);
}

#scrolling { 
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
}

#scrolling ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 165vw !important;
  list-style-type: none;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#scrolling li {
  width: 80vw;
  height: 60vh;
  margin: 0 10px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
}

#scrolling li a {
  font-size: 4vh;
  margin: 15px;
  font-weight: 100;
  cursor: pointer;
  z-index: 99999;
  color: #EED7C8; 
  mix-blend-mode: difference;
}

.show {
  display: block;
}

.site {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

.spacer {
  height: 105vh;
}


@media only screen and (max-height: 414px) {

  .landscape {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background: #EED7C8;
  }
}

@media only screen and (max-width: 1024px) {
  .hp-headline h1 {
    font-size: 7vh;
  }
  #scrolling ul {
    width: 165vw !important;
  }
  #scrolling li {
    width: 80vw;
    height: 50vh;
  }

}

@media only screen and (max-width: 767px) {
  .hp-headline {
    margin: 6vw;
  } 
  .hp-headline h1 {
    font-size: 5.5vh;
  }
  .hp-headline p {
    font-size: 2vh;
  }
  .modal__wrapper {
    padding: 0px;
  }
  #scrolling {
    justify-content: unset;
  }
  #scrolling li {
    height: 45vh;
    width: 70vw;
  }
  #scrolling ul {
    width: 365vw !important;
  }
  .p-container {
    font-size: 2.5vh;
   }
}
.
























