body {
  height: 100%;
  width: 100%;
  margin: 0;
  list-style: none;
  background: black;
}

/* INDEX */

.dropbtn {
  color: white;
}

.projects-2 {
  display: none;
}

nav {
  background: transparent;
  position: absolute;
  
  margin-top: 1%;
}

.index-banner {
    background-image: url('/img/landing.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
   background-attachment: fixed;
   height: 100vh;
   width: 100vw;

}

.vertical-center {
  display: table-cell;
  vertical-align: text-top;
}

.index-banner h1 {
  display: block;
  font-family: 'Crimson Text', serif;
  font-weight: 500;
  font-size: 4vw;
  margin-left: 105px;
  color: white;
  margin-bottom: 5px;
  margin-top: 30%;

}
    
.index-banner p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 1.2vw;
  color:white;
  margin-left: 105px;
  
}  

.index-banner span {
  color: black;
}

.button {
  margin-left: 90px;
  display: block;
  margin-left: 80px;
}

.learn {
  margin: 2%;
  background-color: white;
  border: solid;
  border-color: #FFFFFF;
  color: #2D3DDE;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-left: 2%;
  font-family: 'Work Sans';
  
}

.git {
  background-color: transparent;
  border: solid;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-left: 2%;
  font-family: 'Work Sans';
  
}


.learn:hover {opacity: 1}

.git:hover {background-color: white;
color: #2D3DDE;
}

/* WORKS TEXT */


.sw {
  margin-top: 130px;
  margin-bottom: 0px;
  color: white;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  
}

.sw h2 {
  font-family: 'Crimson Text';
  font-size: 5.5vw;
  margin-bottom: 0px;
}

.sw p {
  font-family: 'Work Sans';
  font-size: 1.4vw;
  text-align: center;
  line-height: 30px;
}



/* PROJECTS */

.modal {
  width: 100%;
  height: 100vh;
  
  
}

ul {
  margin:0;
  display: flex;
  width: 42%;
  margin: auto;
  
} 

ul li {
  list-style: none;
  width: 290px;
  font-family: 'Work Sans', sans-serif; 
  font-size: 1.2vw;
 
}

ul li a p {
  line-height: 138%;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  position: absolute;
  margin-top: 33.5%; 
  color: white;
  
} 

ul li a p:hover {
  text-decoration:line-through;
}

.modal img {
  position: absolute;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;;
  z-index: -1;
}

ul li a:hover + img {
  opacity: 1;
  animation: animate 20s linear infinite;
  transform: scale(1.5);
  transition: transform 15s;
}

footer {
  display: none;
}

footer p {
  text-align: center;
  margin-top: 35px; 
  font-family: 'Work Sans', sans-serif;
  color: black;
}


@media (max-width: 900px ) {

  footer {
    display: inline;
  }

  body {
    background-color: black;
  }

 .projects-2 {
    display: inline;
  }
  
  .title {
    margin: auto;
    width: 95%;
    font-size: 1.3rem;
    font-family: 'Work Sans', sans-serif; 
    margin-top: 20px;
  }
  
  a h2{
    text-decoration: underline;
    color:#093ACF;
    line-height: 35px;
    font-size: 1.8rem;
    margin-bottom: 8px;
  }

  
  .project-box-2 p {
    font-size: 1.2rem;
    margin-top: 0px;
  }
  .project-box-2 h2 {
    margin-bottom: 8px;

  }
  a:visited {
    text-decoration: underline;
    color: black;
  }
  
  .project-box-2 {
    font-family: 'Work Sans', sans-serif; 
    font-size: 15px;
    margin: auto;
    width: 95%;
  }
  
  .ul {
    display: none;
  }

  .topnav ol {
    display: none;
  }
  .modal { 
    display: none;
  }

  .index-banner {
    background-image: url('/img/landing-b.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 100%;
    
    } 

    .index-banner h1 {
      display: block;
      font-family: 'Crimson Text', serif;
      font-weight: 500;
      font-size: 7vw;
      margin-left: 10%;
      color: white;
      margin-bottom: 5px;
      margin-top: 35%;
    }
        
    .index-banner p {
      font-family: 'Work Sans', sans-serif;
      font-weight: 100;
      font-size: 2.5vw;
      color:white;
      margin-left: 10%;
      margin-top: 0px;
      
    }  
    
    .index-banner span {
      color: black;
    }

    .button {
      display: block;
    }

    .topnav ol {
      float: right;
      list-style: none;
      margin-top: 1.6%;
      margin-left: 1473px;

    }
  
}

@media screen and (max-width: 1050px) {

  footer {
    display: inline;
  }
  
  .index-banner span {
  
    color: white;
  }

  nav {
    background: transparent;
    position: absolute;
    margin-left: -5%;
    margin-top: 4%;
  }


  .projects-2-text {
    background: black;
    height: 100%;
    padding: 40px;
    margin-bottom: 25px;
  }

  .projects-2 {
    display: inline;
    margin: 0;
    
  }
  
  .title {
    margin: auto;
    width: 95%;
    font-size: 5vh;
    font-family: 'Crimson Text', serif; 
    color: #FFFFFF;
    text-align: center;
  }

  span {
    font-size: 1rem;
    color: #2D3DDE;
  }

  .subtitle {
    font-size: 1rem;
    margin: auto;
    width: 95%;
    color: white;
    margin-top: 4px;
    font-family: 'Work Sans', sans-serif; 
    text-align: center;
    
  }
  
  a h2{
    text-decoration: underline;
    color: black;
    line-height: 55px;
    font-size: 3.2vh;
    margin-bottom: 8px;

  }
  
  .project-box-2 p {
    font-size: 1.2rem;
    margin-top: 0px;
    color: black;
    
  }
  .project-box-2 h2 {
    margin-bottom: 8px;

  }
  a:visited {
    text-decoration: underline;
    color: #2D3DDE;
  }
  
  .project-box-2 {
    font-family: 'Work Sans', sans-serif; 
    font-size: 15px;
    margin: auto;
    width: 90%;
    text-align: center;
  }

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    list-style: none;
    background-color: white;
  }

  .modal {
    display: none;
  }

  .ul {
    display: none;
  }

  .topnav ol {
    display: none;
  }

  .button {
    display: inline-block;
    margin-left: 0px;
    
  }

  .learn {
    background-color: white;
    border: solid;
    border-color: #FFFFFF;
    color: #2D3DDE;
    padding: 16px 32px;
    text-align: center;
    font-size: 2vh;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Work Sans';
    opacity: 1;
    width: 30vw;
    height: 6vh;
    margin-top: 1.5%;
    margin-left: 10%;
  }
  
  .git {
    background-color: transparent;
    border: solid;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 2vh;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Work Sans';
    width: 30vw;
    height: 6vh;
    margin-left: 10%;
  }
  
  .learn:hover {display: none;}

/* INDEX */

 .index-banner {
  background-image: url('/img/landing-b.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  
  } 

.index-banner h1 {
    display: block;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    font-size: 7vw;
    margin-left: 8%;
    width: 650px;;
    color: white;
    margin-bottom: 1%;
    margin-top: 25%;
  }
  .index-banner p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 2vw;
    color: white;
    margin-left: 8%;
    margin-top: 2%;
    line-height: 130%;
   
  } 

  .learn:hover {display: none;}
  
} 

@media screen and (max-width: 550px) {

  footer {
    display: inline;
  }

  nav {
    background: transparent;
    position: absolute;
    margin-left: -3%;
    margin-top: 4%;
  }
  
  .index-banner h1 {
    display: block;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    font-size: 13vw;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    margin-bottom: 1%;
    margin-top: 29%;
    width: 400px;
    
  }
  .index-banner p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 3.9vw;
    color: white;
    margin-left: 5%;
    margin-top: 2%;
    line-height: 130%;
   
  } 

  .index-banner span {
  
    color: white;
  }

  .learn {
    background-color: white;
    border: solid;
    border-color: #FFFFFF;
    color: #2D3DDE;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Work Sans';
    opacity: 1;
    width: 90vw;
    height: 57px;
    margin-top: 1.5%;
    margin-left: 5%;
  }
  
  .git {
    background-color: transparent;
    border: solid;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Work Sans';
    width: 90vw;
    margin-left: 5%;
    height: 57px;
  }

  .button {
    display: inline-block;
    margin-left: 0px;
    
  }

  a h2{
    text-decoration: underline;
    color: black;
    line-height: 35px;
    font-size: 3.2vh;
    margin-bottom: 8px;

  }

  .learn:hover {display: none;}

}



