body {
  margin-right: 0px;
}

a {
  color: inherit;
}

nav {
  left: 0;
  z-index: 89;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position:absolute;
}

nav a {
  left: 0;
  top: 0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 40px 50px;
  color: #C96755;
  text-decoration: none;
  font-size: 110%;
  font-weight: 500;
  display: inline-block;
  font-family: 'Josefin Sans';
}

a.nav__link.logo {
  padding: 0;
  /* height: 1vh; */
}


#p-logo {
  height: 13vh;
  margin: 3vh;
  cursor: pointer;
}

