a {
  text-decoration: none;
  color: inherit;
}
body {
    background: #C4D5DA;
    color: #ED4804;
}
#close-modal {
  font-family: Work Sans, sans-serif;
  cursor: pointer;
  display: flex;
  padding: 5vh;
}
.contact-modal {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 3;
  background-color: #E9E3D9;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  transition: 0.5s;
}
.contact-modal.open {
  width: 100%;
}
div#toggle {
  display: none;
}
div#top-nav {
  font-family: Work Sans, sans-serif;
  cursor: pointer;
  display: flex;
  position: fixed;
  z-index: 2;
  right: 3.5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5vh;
}
#top-nav span {
  padding: 0 1vw;
}
.icon {
    position: absolute;
    bottom: -20px;
    right: 44%;
    height: 61px;
    width: 50px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }
  
  .icon.is_active .top {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
    -ms-transform: translateY(8px) translateX(0) rotate(45deg);
    transform: translateY(8px) translateX(0) rotate(45deg);
    background: #A5D1C9;
  }
  
  .icon.is_active .middle {
    opacity: 0;
    background: #FFF;
  }
  
  .icon.is_active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #A5D1C9;
    top: 4px;
  }
  
  .icon div {
    background: #ED4804;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: -12px;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
  }
  
  .icon div:nth-of-type(2) {
    top: 0px;
  }
  
  .icon div:nth-of-type(3) {
    top: 12px;
  }
  
  .overlay {
    position: absolute;
    background: #292C29;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 105%;
    transition: opacity .35s, visibility .35s, height .35s;
  }
  
  .overlay.open li {
    -webkit-animation: fadeInTop .5s ease forwards;
    animation: fadeInTop .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
  }
  
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
  }
  
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
  }
  
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
  }
  
  .overlay nav {
    position: relative;
    height: 70%;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Crimson', serif;
    font-weight: 400;
    text-align: center;
  }
  
  .overlay ul {
    padding: 24px;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 2rem;
  }
  
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    position: relative;
    opacity: 0;
  }
  
  .overlay ul li a {
    display: block;
    position: relative;
    color: #A5D1C9;
    text-decoration: none;
    overflow: hidden;
  }
  
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
  }
  
  @-webkit-keyframes fadeInTop {
    0% {
      opacity: 0;
      top: 20%;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  
  @keyframes fadeInTop {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

@media screen and (max-width: 767px) {

    div#toggle {
        display: block;
    }

    .overlay-menu .active {
        border-bottom: none;
    }

    body:before {
        content: "";
        position: fixed;
        z-index: 1;
        bottom: -20px;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #A5D1C9 100%);
        width: 100%;
        height: 15em;
    }

    .col-1 {
        padding: 50px 16px 0 !important;
        width: auto !important;
        height: 95vh !important;
        margin: auto;
        top: 0px !important;
        right: 0px !important;
    }
}
