/* NAV */

.main-nav {
    display: inline-block;
    font-weight: 100;
    left: 72px;
    position: fixed;
    top: 38vh;
    width: calc(((100vw - 144px) / 8) * 2);
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    background: none;
  }
  
  .main-nav ul {
    font-family: 'Lato', sans-serif;
    list-style: none;
    display: block;
  }
  
  .main-nav ul li a {
    color: #ED4804;
  }
  
  .main-nav li {
    margin: 0 35px 10px 0;
    font-size: 1.5rem;
  }

  .back-arrow {
    position: absolute;
    overflow: scroll;
    right: 72px;
    font-size: 3vw;
    width: calc(((100vw - 147px) / 8) * 6);
  }

  /* NAV */

  .col-1 {
    top: 15vh;
    position: absolute;
    overflow: scroll;
    right: 72px;
    width: calc(((100vw - 147px) / 8) * 6);
  }

  .col-1 h1 {
    display: block;
    font-size: 1.5vw;
    font-family: 'Crimson Text', serif;
    width: 800px;
    font-weight: 500;
    margin: 0;
  }
  
  .col-1 span {
    font-size: 4vw;
  }
      
  .col-1 .p {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1.5vw;
    max-width: 860px;
  } 

  span.squiggle {
    padding-top: 3px;
    display: block;
  }

  video.clp-plp-test {
    width: auto;
    width: 800px;
}

.t-mockup {
    margin: 10vh 0;
}

.project-description {
    max-width: 800px;
}

@media screen and (max-width: 767px) {
  
  .col-1 {
    position: relative;
  }

  .col-1 h1 {
    width: auto;
} 
}