body, html {
  height: 100%;
  margin: 0;

}



li {
  list-style: none;
  display: inline-block;

}

div.a {
  float: left;
  margin-left: 8%;

}

div.logo {
  margin-left: 5%;
  padding-top: 2.5%;
}

div.intro > h1 {
  margin: 0%;
}

div.contact {
  margin-bottom: 20%;
}

div.contactbutton {
  float: right;
  margin-right: 10%;

}

div.pull {
  float: left;
  margin-left: 10%;
}

div.social {
  text-align: center;

}

div.top-nav {
  margin: 0;
}

ol.navbottom{
  text-align: center;
}
