div.back {
  background-image: url('img/topography.png');
  background-position: right;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

div.logo {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  color: #ffffff;

}

div.navtop li {
  font-family: 'Varelo Round', sans-serif;
  font-size: 15px;
  color: black;
  letter-spacing: 4px;

}

li.homebutton2 {
  padding-right: 5px;
}

div.headline {
  font-family: 'Crimson Text', serif;
  letter-spacing: 1px;
  font-size: 50px;
  color: black;
  margin-left: 10%;
  padding-top: 9%;

}

div.headline > h1 > span {
  color: black;
}

div.subline {
  font-family: 'Work Sans', sans-serif;
  line-height: 30px;
  color: #2A34E2;
  font-size: 20px;
  margin-left: 10%;
  kerning:5px;
  padding-bottom: 16%;

}

div.intro2 {
  font-family: 'Crimson Text', serif;
  letter-spacing: 1px;
  font-size: 50px;
  color: black;
  margin-left: 10%;
  padding-top: 15%;

}

div.contact {
  font-family: 'Abel', sans-serif;
  color: black;
  font-size: 15px;
}

div.skillset {
  text-align: center;
  background-color: white;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 18%;
  font-family: 'Abel', sans-serif;
  color:  #2A34E2;
  font-size: 20px;

}

div.about {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Work Sans', sans-serif;
  line-height: 30px;
  padding-top: 5%;

}

div.abouttitle {
  font-size: 40px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

div.abouttitle span {
  font-size: 20px;
  color:  #2A34E2;
}

ol.navbottom{
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;

}

ol.sns {
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
}

footer {
  border-style: solid;
  background-color: #2A34E2;
  color: #2A34E2;
  padding: 10px;
}

div.swork {
    margin-left: 10%;
    font-size: 40px;
    color: black;
    font-family: 'Work Sans', sans-serif;
  }

div.swork span {
    font-size: 20px;
    color:  #2A34E2;
  }

img.ayoc {
  height: 500px;
  width: auto;
  padding-right: 2px;
  padding-bottom: 5px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

img.ayoc:hover {opacity: 1}

}

img.sellogo {
  height: 500px;
  width: auto;
  padding-right: 2px;
  padding-bottom: 5px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

div.works {
  text-align: center;
  padding-bottom: 10px;

}

div.sns > ol {
  color: white;
}

li {
  color: white;
}

div.body {
  padding-bottom: 9%;
}
