div.back {
  background-image: url('img/back2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  padding-bottom:30%;

}

div.logo {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  color: #ffffff;

}

div.a {
  font-family: 'Varelo Round', sans-serif;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 4px;

}

li.homebutton {
  padding-right: 5px;
  color: white;
}

div.intro {
  font-family: 'Crimson Text', serif;
  letter-spacing: 1px;
  font-size: 50px;
  color: white;
  margin-left: 10%;
  padding-top: 5%;

}

div.intro > h1 > span {
  color: black;
}

div.description {
  font-family: 'Work Sans', sans-serif;
  line-height: 30px;
  color: white;
  font-size: 20px;
  margin-left: 10%;
  kerning:5px;

}

.svg-wrapper {
  float: left;
  height: 60px;
  margin-left: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;

}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  text-align:
  padding: 10px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
/* div.email {
  padding-bottom: 15rem;
}

div.email {
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 15%;
  color: #white;
  background-color: white; /* Remove background color */
  border: 2px solid white; /* Border thickness, line style, and color *//* Adds curve to border corners */
  text-transform: uppercase;
  font-family: 'Abel', sans-serif; color: #2A34E2;
  padding: 2px;
  width: 10%;
  height: 4%;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

div.email:hover {opacity: 1} */

div.contact {
  font-family: 'Abel', sans-serif;
  color: black;
  font-size: 15px;
}

li.contactbutton {
  color: white;
}

div.skillset {
  text-align: center;
  background-color: white;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 18%;
  font-family: 'Abel', sans-serif;
  color:  #2A34E2;
  font-size: 20px;

}

div.about {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Work Sans', sans-serif;
  line-height: 30px;
  padding-top: 1%;
  background-color: #2E2F45;
  background-attachment: fixed;
  height: 100%;
  width: 100%;

}

div.abouttitle {
  font-size: 40px;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

div.abouttitle span {
  font-size: 20px;
  color:  #2A34E2;
}

div.body {
  padding-bottom: 9%;
  color: white;

}

div.body > ol {
  color: white;
}

ol.navbottom{
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;

}

ol.sns {
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
}

footer {
  border-style: solid;
  background-color: #2A34E2;
  color: #2A34E2;
  padding: 10px;
}

div.swork {
    margin-left: 10%;
    font-size: 40px;
    color: black;
    font-family: 'Work Sans', sans-serif;
  }

div.swork span {
    font-size: 20px;
    color:  #2A34E2;
  }

img.ayoc {
  height: 500px;
  width: auto;
  padding-right: 2px;
  padding-bottom: 5px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

img.ayoc:hover {opacity: 1}

}

img.sellogo {
  height: 500px;
  width: auto;
  padding-right: 2px;
  padding-bottom: 5px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

div.works {
  text-align: center;
  padding-bottom: 10px;
}

li.social {
  color: white;
}

li.bodylist {
  display:flow-root;
  color: white;
}

li.bodylist2 {
  display: flow-root;
  margin-top: 0%;
  margin-left: 5%;
}

li.bodylist span {
  color: #2A34E2
}
li.bodylist2 span {
  color: #2A34E2
}

div.workbutton {
  padding-bottom: 2rem;
}

div.workbutton {
  margin-top: 3%;
  color: #white;
  background-color: #2A34E2;
  border: 2px solid #2A34E2;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  color: white;
  padding: 2px;
  width: 10%;
  height: 4%;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

div.workbutton:hover {opacity: 1}

div.workbutton h3 {
  color: white;
}

div.body strong {
  font-size: 20px;
}
